@{
    ViewBag.Title = "withdrawThanks";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}


<html>
<head>
    <style>
        .btn.w-p100.btn-md.btn-success.mt-10 {
            background: linear-gradient(90deg,#ee0979,#ff6a00);
            border: none;
            line-height: 36px !important;
        }

        .successi {
            text-align: center;
            margin: 0 auto;
            display: block;
            font-size: 83px;
            background: #3a930926;
            width: 125px;
            margin-bottom: 26px;
            border-radius: 50%;
            color: #08d51f;
            height: 125px;
            line-height: 140px;
        }
    </style>
</head>
<body>

    <div class="row margin-balance">
        <div class="col-md-4 col-md-offset-4  col-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Success</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="box animate">


                            <div class="box-body p-15">

                                <span class="successi"><i class="icon-check"></i></span>
                                <p class="box-title text-white text-center">
                                    withdraw Request Done with ₹ @TempData["withamt"].

                                </p>

                                <a href="dashboard" class="btn w-p100 center-block btn-md btn-success mt-10"> Go Back Dashboard</a>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="content-wrapper" style="min-height: 875.15px;">


        <section class="content">

            <div class="row">
                <div class="">
                </div>
            </div>



        </section>
    </div>

</body>
</html>


